body {
    margin: 0;
    padding:0;
    font: normal 14px "Helvetica", sans-serif;
    background:rgb(175,186,153);
    color: rgb(217,189,156);
}

.flick {
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

.dial-housing {
    width:320px;
    height:320px;
    position:absolute;
    bottom:0px;
    left:50%;
    overflow:hidden;
    margin-left:-160px;
}

.dial {
    width:320px;
    height:320px;
    border-radius:160px;
    background-color:rgb(122,176,153);
    position:relative;
}

.dial li {
    position:absolute;
    border:1px solid black;
    list-style:none;
    width:50px;
    height:50px;
    text-align:center;
    transform-origin:50% 150px;
    -webkit-transform-origin:50% 150px;
    top:10px;
    left:135px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dial li span {
    position:absolute;
    display:inline-block;
    width:50px;
    top:0px;
    left:0px;
    text-align:center;
    font-size:11px;
    font-weight:bold;
    line-height:1;
}

.viewer {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    overflow:hidden;
}

.viewer ul {
    position:absolute;
    top:0;
    left:50%;
    width:3000px;
    height:3000px;
    margin-left:-1500px;
    display:block;
    border-radius:1500px;
}

.viewer li {
    position:absolute;
    width:500px;
    height:500px;
    display:block;
    font-size:24px;
    line-height:1.5;
    text-align:center;
    transform-origin:50% 1490px;
    -webkit-transform-origin:50% 1490px;
    top:10px;
    left:1250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.viewer li:nth-child(even) {
    background-color:rgb(217,24,40);
}

.viewer li:nth-child(odd) {
    background-color:rgb(3,140,140);
}
